#app-content>div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	line-height: 1.2em;
}

div.cerana-content {
	width: 95%;
	height: 100%;
	display: flex;
	padding: 0px;
	flex-direction: column;
	flex-grow: 1;
}

h1.title {
	font-weight: bold;
	font-size: 30px;
	margin: 30px 30px 10px 30px;
	line-height: 30px;
	color: var(--color-text-light);
}

@media ( max-width : 1150px) {
	h1.title {
		font-size: 20px;
		margin: 10px 30px 10px 30px;
		line-height: 20px;
	}
	html, body, div, span, pre, a, code, ul, li, fieldset, form, label,
		legend, table, caption, tbody, tfoot, thead, tr, th, td, section {
		font-size: 98%;
		line-height: 1.3em;
	}
}

.nav-dashboard {
	background-image: var(--icon-comment-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-current {
	background-image: var(--icon-external-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-structure {
	background-image: var(--icon-menu-sidebar-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-list {
	background-image: var(--icon-projects-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-report {
	background-image: var(--icon-monitoring-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-organisation {
	background-image: var(--icon-settings-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-subscription {
	background-image: var(--icon-settings-dark-000);
	background-repeat: no-repeat;
	background-position: center;
}

.nav-content {
	height: 128px;
	background-size: 64px 64px;
}

div.cerana-frame {
	display: flex;
	padding: 0px;
	flex-direction: column;
}

@media ( max-width : 1750px) {
	div.cerana-frame>div.table {
		height: 450px;
	}
}

@media ( max-width : 1150px) {
	div.cerana-frame>div.table {
		height: 150px;
	}
}

div.cerana-frame>input[type="button"] {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

div.cerana-button {
	text-align: center;
	margin-top: auto;
	display: inherit;
	padding: inherit;
}

div.cerana-frame>div.cerana-button {
	padding: 10px;
}

div.cerana-button>input {
	width: 100px;
	margin: auto;
}

div ul.tabs-component-tabs {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div ul.tabs-component-tabs li {
	float: left;
	padding: 10px;
	background-color: lightgray;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
	border-radius: 10px 10px 0px 0px;
}

div ul.tabs-component-tabs li:hover a {
	color: var(--color-primary-text);
}

div ul.tabs-component-tabs li.is-active {
	background-color: var(--color-primary-element);
	border: 1px black solid;
}

div ul.tabs-component-tabs li.is-active a {
	background-color: var(--color-primary-element);
	font-weight: bold;
	color: var(--color-primary-text);
}

div div.tabs-component-panels {
	border-top: 1px black solid;
}

div .panel {
	margin: 10px;
	padding: 10px;
}

.currentfile>span {
	width: 35%;
	border: 1px black solid;
}

c-sliding-pagination {
	pointer-events: all;
}

.c-sliding-pagination__list {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.c-sliding-pagination__list-element {
	display: inline-block;
	background: var(--color-primary-element);
	color: var(--color-main-text);
	padding: .6em;
	border-radius: .2em;
	margin: 0;
	margin-right: .2em;
	margin-bottom: 1em;
	transition-duration: 300ms;
	transition-property: background, color;
}

.c-sliding-pagination__list-element:hover {
	transition-duration: 300ms;
	transition-property: background, color;
	background: var(--color-primary-element);
	color: var(--color-primary-text);
}

.c-sliding-pagination__list-element:hover a {
	transition-duration: 300ms;
	transition-property: background, color;
	background: var(--color-primary-element);
	color: var(--color-primary-text);
}

.c-sliding-pagination__list-element:last-of-type {
	margin-right: 0;
}

.c-sliding-pagination__list-element--active {
	background: var(--color-primary-element);
	color: var(--color-primary-text);
}

.c-sliding-pagination__list-element--active a {
	background: var(--color-primary-element);
	color: var(--color-primary-text);
}

.c-sliding-pagination__list-element--active:hover {
	background: var(--color-primary-element);
	color: var(--color-primary-text);
	cursor: default;
}

.c-sliding-pagination__list-element--active:hover a {
	background: var(--color-primary-element);
	color: var(--color-primary-text);
	cursor: default;
}

.c-sliding-pagination__list-element--disabled {
	background: none;
	color: inherit;
	cursor: not-allowed;
}

.c-sliding-pagination__list-element--disabled a {
	background: none;
	color: inherit;
	cursor: not-allowed;
}

.navsearch {
	text-align: center;
	margin: 10px 0px;
}

.navsearch label {
	font-weight: bold;
	margin: 0px 5px;
}

.navlist {
	display: inline-flex;
	width: 100%;
}

.navlist nav {
	margin-left: auto;
	margin-right: 5px;
}

.navlist select {
	margin-right: 5px;
	margin-left: 5px;
}

.navlist label {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: auto;
	font-weight: bold;
}

@media ( min-width : 1000px) {
	.table {
		grid-template-columns: auto auto;
		display: grid;
	}
}

@media ( max-width : 1000px) {
	.table {
		grid-template-columns: auto;
		display: grid;
	}
}

.table fieldset {
	border: 1px gray solid;
	padding-bottom: 10px;
	margin: 0px 5px 5px 5px;
}

.table fieldset legend {
	font-weight: bold;
	padding: 0px 5px;
}

@media ( min-width : 1000px) {
	.table fieldset.double {
		grid-column: 1/3;
	}
}

.table fieldset .tabs-component {
	margin: 5px;
}

.table fieldset h2 {
	margin-top: 75px;
	text-align: center;
}

//
-------------------------------
SPECIFIC ------------------ .confirm {
	padding: 10px 10px 10px 10px;
}

.edit {
	margin: 0px 0px 0px 0px;
	max-height: 700px;
}

.edit .table {
	padding: 0px 25px 0px 25px;
	grid-template-columns: auto auto;
	display: grid;
	overflow-y: scroll;
	width: 90%;
}

.edit .table .cell {
	padding-left: 10px;
	padding-right: 10px;
}

.edit .table .celllarge {
	grid-column: 1/3;
}

.edit .table .cell label {
	font-weight: bold;
}

.edit .table .cell .spanlabel {
	display: block;
}

.edit .table .cell input {
	width: 100%;
}

.edit .table .cell select {
	width: 100%;
}

.edit .table .cell textarea {
	width: 100%;
}

.edit .table .cell div.mx-datepicker {
	width: 100%;
}

.edit .table .cell .spanimg {
	display: flex;
	width: 100%;
}

.edit .table .cell img {
	width: 32px;
	margin: auto 5px auto 5px;
}

.show {
	margin: 10px 15px 0px 20px;
	grid-template-columns: auto auto auto;
	display: grid;
}

.show>div {
	padding: 2px 10px 3px 10px;
}

.show .normal {
	
}

.show .middle {
	grid-column: 1/4;
}

.show .long {
	grid-row: 1/6;
	margin: 10px;
}

.show>div>img {
	width: 128px;
	margin: auto;
	display: block;
}

.show>div>label {
	font-weight: bold;
}

.show>div>span.spanlabel {
	display: block;
}

table.connect>tr>td {
	min-width: 150px;
}

table.connect  span {
	font-style: italic;
}

table.connect>tr>td>button.connectbtn {
    background-color: var(--color-primary-element);
    color: var(--color-primary-text);
    margin-right: 10px;
}

.showtable {
	padding: 0px;
	grid-template-columns: auto auto;
	display: grid;
}

.showtable .cell {
	padding: 2px 10px 3px 10px;
}

.showtable .celllarge {
	grid-column: 1/3;
}

.showtable .cell label {
	font-weight: bold;
}

.showtable .cell .spanlabel {
	display: block;
}

.showtable .celllarge {
	grid-column: 1/3;
}

.list input[type='button'] {
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: var(--color-primary-element);
	color: var(--color-primary-text);
}

.list table {
	width: 100%;
	padding: 20px;
}

.list table thead {
	background-color: var(--color-main-background-translucent);
	width: 100%;
}

.list table thead tr th {
	font-weight: bold;
	border: 1px solid #FFF;
	text-align: center;
	padding: 15px 0px;
	background-color: #F0F0F0;
}

.list table tbody {
	background-color: var(--color-main-background-translucent);
	width: 100%;
}

.list table tbody tr.active {
	background-color: var(--color-background-darker);
	color: var(--color-primary-text);
}

.list table tbody tr td {
	padding: 5px;
	border: 1px solid var(--color-border);
	white-space: pre-wrap;
}

#adherent {
	margin: 0px 20px 0px 20px;
}

#membership {
	margin: 20px;
}

#membership label {
	font-weight: bold;
	margin: 0px 5px 0px 5px;
}

.selection {
	margin: 20px;
}

.selection label {
	font-weight: bold;
	margin: 0px 5px 0px 5px;
	width: 15%;
}

.selection select {
	width: 33%;
}

.selection input.iconadd {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: initial;
	background-color: var(--color-primary-element);
	color: var(--color-primary-text);
}

#emptysubscription {
	color: var(--color-text-maxcontrast);
	text-align: center;
	margin-top: 10vh;
	width: 100%;
}