body {
    background-color: #b37300;
}

div.related {
    background-color: #c38300;
}

div.document {
    background-color: #e3b318;
}

div.body {
    min-height: 600px;
	max-width: none;
	margin-right: 100px;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    color: black;
}

div.sphinxsidebar a {
    color: black;
}