<template>
	<div v-if="adherent"
		class="show">
		<div class="long">
			<img v-if="adherent.photoid!=''"
				:src="adherent.photoid">
			<img v-else
				src="/apps/cerana_adhesion/img/empty.png">
		</div>
		<div class="normal">
			<label for="num">{{ $transI18n.t('N° adhérent') }}</label>
			<span class="spanlabel">{{ adherent.num }}</span>
		</div>
		<div class="normal">
			<label for="civility">{{ $transI18n.t('Genre') }}</label>
			<span class="spanlabel">{{ showSelectedValue(adherent.civility, adherent_fields[1]) }}</span>
		</div>
		<div class="normal">
			<label for="lastname">{{ $transI18n.t('Nom') }}</label>
			<span class="spanlabel">{{ adherent.lastname }}</span>
		</div>
		<div class="normal">
			<label for="firstname">{{ $transI18n.t('Prénom') }}</label>
			<span class="spanlabel">{{ adherent.firstname }}</span>
		</div>
		<div class="normal">
			<label for="birthdaydate">{{ $transI18n.t('Date de naissance') }}</label>
			<span class="spanlabel">{{ showSelectedValue(adherent.birthdaydate, adherent_fields[4]) }}</span>
		</div>
		<div class="normal">
			<label for="birthdayplace">{{ $transI18n.t('Lieu de naissance') }}</label>
			<span class="spanlabel">{{ adherent.birthdayplace }}</span>
		</div>
		<div class="normal">
			<label for="phone1">{{ $transI18n.t('Tel. 1') }}</label>
			<span class="spanlabel">{{ adherent.phone1 }}</span>
		</div>
		<div class="normal">
			<label for="phone2">{{ $transI18n.t('Tel. 2') }}</label>
			<span class="spanlabel">{{ adherent.phone2 }}</span>
		</div>
		<div class="normal">
			<label for="email">{{ $transI18n.t('courriel') }}</label>
			<span class="spanlabel"><a :href="`mailto:${adherent.email}`">{{ adherent.email }}</a></span>
		</div>
		<div class="middle">
			<label for="address">{{ $transI18n.t('Adresse') }}</label>
			<pre>
{{ adherent.address }}
			</pre>
		</div>
		<div class="normal">
			<label for="postalcode">{{ $transI18n.t('Code postal') }}</label>
			<span class="spanlabel">{{ adherent.postalcode }}</span>
		</div>
		<div class="normal">
			<label for="city">{{ $transI18n.t('ville') }}</label>
			<span class="spanlabel">{{ adherent.city }}</span>
		</div>
		<div class="normal">
			<label for="country">{{ $transI18n.t('Pays') }}</label>
			<span class="spanlabel">{{ showSelectedValue(adherent.country, adherent_fields[9]) }}</span>
		</div>
		<div class="middle">
			<label for="comment">{{ $transI18n.t('Commentaires') }}</label>
			<pre>
{{ adherent.comment }}
			</pre>
		</div>
		<div class="middle">
			<label for="comment">{{ $transI18n.t('Connexion') }}</label>
			<table class="connect">
				<tr>
					<td>
						<span class="spanlabel">
							{{ user }}
						</span>
					</td>
					<td>
						<Actions v-if="adherent.status==0">
							<ActionButton
								icon="icon-add connectbtn"
								@click="connect(1)">
								{{ $transI18n.t("Créer") }}
							</ActionButton>
						</Actions>
						<Actions v-if="adherent.status==1">
							<ActionButton
								icon="icon-checkmark connectbtn"
								@click="connect(2)">
								{{ $transI18n.t("Activer") }}
							</ActionButton>
						</Actions>
						<Actions v-if="adherent.status==2">
							<ActionButton
								icon="icon-close connectbtn"
								@click="connect(3)">
								{{ $transI18n.t("Désactiver") }}
							</ActionButton>
						</Actions>
						<Actions v-if="(adherent.status==1) || (adherent.status==2)">
							<ActionButton
								icon="icon-delete connectbtn"
								@click="connect(4)">
								{{ $transI18n.t('Supprimer') }}
							</ActionButton>
						</Actions>
					</td>
				</tr>
			</table>
		</div>
		<CompConfirm v-if="canConnect()"
			:message="connectmsg"
			@confirm="confirmConnect" />
	</div>
</template>

<script>
import axios from 'axios'
import { showError } from '@nextcloud/dialogs'

import { adherentsFields, filterValueByField } from './cerana_lib.js'
import Actions from '@nextcloud/vue/dist/Components/Actions'
import ActionButton from '@nextcloud/vue/dist/Components/ActionButton'
import CompConfirm from './CompConfirm'

export default {
	name: 'CompShowAdherent',
	components: {
		Actions,
		ActionButton,
		CompConfirm,
	},
	props: {
		initadherentid: {
			type: Number,
			default: 0,
		},
	},
	emits: ['current'],
	data() {
		return {
			adherent_fields: adherentsFields,
			adherent: null,
			loading: false,
			mode: 0,
			connectmsg: '',
		}
	},
	computed: {
		user() {
			if ((this.adherent !== null) && (this.adherent.uid !== null)) {
				return this.adherent.uid
			} else {
				return '---'
			}
		},
	},
	/**
	 * Load adherent or prepare new item
	 */
	async mounted() {
		this.adherent = null
		if (this.initadherentid !== 0) {
			await this.refresh()
		}
	},
	methods: {
		showSelectedValue(value, field) {
			return filterValueByField(this.$store, value, field)
		},
		async refresh() {
			this.loading = true
			try {
				this.mode = 0
				try {
					const response = await axios.get(`/apps/cerana_adhesion/adherents/${this.initadherentid}`)
					this.adherent = response.data
					this.$emit('current', this.adherent)
				} catch (e) {
					if (this.initadherentid !== -1) {
						console.error(e)
						showError(this.$transI18n.t('Impossible de récupérer l adhérents'))
					}
					this.$emit('current', null)
				}
			} finally {
				this.loading = false
			}
		},
		canConnect() {
			return this.mode !== 0
		},
		connect(mode) {
			this.mode = mode
			this.connectmsg = this.$transI18n.t('Voulez vous modifier cette connexion ?')
		},
		async confirmConnect(value) {
			if (value === true) {
				const params = {}
				params.id = this.initadherentid
				params.mode = this.mode
				try {
					await axios.put('/apps/cerana_adhesion/connection', params)
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Erreur de gestion de connexion !'))
				}
			}
			this.refresh()
		},
	},
}
</script>
