<template>
	<Modal @close="cancel">
		<div class="confirm cerana-frame">
			<h1 class="title">
				{{ message }}
			</h1>
			<div class="cerana-button">
				<input type="button"
					class="primary"
					:value="$transI18n.t('OK')"
					@click="ok">
				<input type="button"
					class="primary"
					:value="$transI18n.t('Annuler')"
					@click="cancel">
			</div>
		</div>
	</Modal>
</template>

<script>
import Modal from '@nextcloud/vue/dist/Components/Modal'

export default {
	name: 'CompConfirm',
	components: {
		Modal,
	},
	props: {
		message: {
			type: String,
			default: '',
		},
	},
	emits: ['confirm'],
	methods: {
		/**
		 * Valid confirm dialog box
		 */
		ok() {
			this.$emit('confirm', true)
		},
		/**
		 * Cancel confirm dialog box
		 */
		cancel() {
			this.$emit('confirm', false)
		},
	},
}
</script>
