<template>
	<div id="subscription">
		<div v-if="nosubscription"
			id="emptysubscription">
			<h2>{{ $transI18n.t('Pas de cotisation pour cette saison !') }}</h2>
			<div v-if="adherent !== null" class="cerana-button">
				<input type="button"
					class="primary"
					:value="$transI18n.t('Ajouter')"
					@click="edit">
			</div>
		</div>
		<CompEditGeneric v-if="editing"
			:itemid="subscriptionid"
			models="subscriptions"
			:fields="subscription_fields"
			@update="refreshSubscription" />
		<div :class="{'table':(subscription !== null)}">
			<fieldset>
				<legend v-if="subscription">
					{{ $transI18n.t('Cotisation') }}
				</legend>
				<CompShowGeneric :key="unique['subscription']"
					:search="subscriptionSearch"
					models="subscriptions"
					:fields="subscription_fields"
					@current="showSubscriptionCurrent" />
				<div v-if="subscription"
					class="cerana-button">
					<input type="button"
						class="primary"
						:value="$transI18n.t('Éditer')"
						@click="edit">
					<input type="button"
						class="primary"
						:value="$transI18n.t('Supprimer')"
						@click="remove">
				</div>
			</fieldset>
			<fieldset v-if="subscription">
				<legend>
					{{ $transI18n.t('Structure') }}
				</legend>
				<CompShowGeneric :key="unique['structure']"
					:itemid="structureid"
					models="structures"
					:fields="structure_fields" />
			</fieldset>
			<fieldset v-if="subscription"
				class="double">
				<Tabs @changed="tabchange">
					<Tab id="practice"
						class="panel"
						:name="$transI18n.t('Pratiques')">
						<CompListGeneric :key="unique['practice']"
							models="practices"
							:fields="practice_fields"
							:searching="subscriptionIdSearch"
							@updated="updatedPractice" />
					</Tab>
					<Tab id="responsability"
						class="panel"
						:name="$transI18n.t('Responsabilités')">
						<CompListGeneric :key="unique['responsability']"
							models="responsabilitys"
							:fields="responsability_fields"
							:searching="subscriptionIdSearch"
							@updated="updatedResponsabilitys" />
					</Tab>
				</Tabs>
			</fieldset>
		</div>
		<CompConfirm v-if="deleting"
			:message="$transI18n.t('Voulez-vous supprimer cette cotisation ?')"
			@confirm="confirmRemove" />
	</div>
</template>

<script>
import axios from 'axios'
import { Tabs, Tab } from 'vue-tabs-component'
import { showError, showSuccess } from '@nextcloud/dialogs'

import CompShowGeneric from './CompShowGeneric'
import CompEditGeneric from './CompEditGeneric'
import CompListGeneric from './CompListGeneric'
import CompConfirm from './CompConfirm'

export default {
	name: 'CompSubscription',
	components: {
		CompShowGeneric,
		CompEditGeneric,
		CompListGeneric,
		CompConfirm,
		Tabs,
		Tab,
	},
	props: {
		initsubscriptionid: {
			type: Number,
			default: -1,
		},
		currentseason: {
			type: String,
			default: null,
		},
		adherent: {
			type: Object,
			default: null,
		},
	},
	emits: ['update'],
	data() {
		return {
			structure_fields: [
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '', large: true },
				{ id: 'level', value: this.$transI18n.t('Échelon'), type: 'select', default: 1, needed: true, options: 'levels', nolisting: true },
				{ id: 'parent', value: this.$transI18n.t('Parent'), type: 'select', default: 1, needed: false, options: 'structures' },
				{ id: 'email', value: this.$transI18n.t('Courriel'), type: 'email', default: '' },
				{ id: 'phone1', value: this.$transI18n.t('Tel 1'), type: 'text', default: '' },
			],
			subscription: null,
			structure: null,
			editing: false,
			deleting: false,
			unique: { subscription: 0, structure: 1000, pratique: 1000000, responsability: 1000000000 },
		}
	},
	computed: {
		subscription_fields() {
			if (this.adherent !== null) {
				const adherenttitle = this.adherent.firstname + ' ' + this.adherent.lastname
				return [
					{ id: 'adherent', value: '', type: '', needed: true, default: this.adherent.id, large: true },
					{ id: 'adherenttitle', value: this.$transI18n.t('Adhérent'), type: 'label', needed: true, default: adherenttitle, noshow: true },
					{ id: 'dateref', value: this.$transI18n.t('Saison'), type: 'label', needed: true, default: this.currentseason, options: 'seasons' },
					{ id: 'structure', value: this.$transI18n.t('Structures'), type: 'select', needed: true, default: this.adherent.last_structure, options: 'structures', noshow: true },
					{ id: 'typeadhesion', value: this.$transI18n.t('Type de cotisation'), type: 'select', needed: true, default: this.adherent.last_typeadhesion, options: 'typeadhesions' },
					{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', needed: false, default: '', large: true },
					{ id: 'typepractice', value: this.$transI18n.t('Pratique'), type: 'select', needed: false, default: this.adherent.last_practice, options: 'typepractices', onlynew: true },
					{ id: 'typeresponsability', value: this.$transI18n.t('Responsabilité'), type: 'select', needed: false, default: this.adherent.last_responsability, options: 'typeresponsabilities', onlynew: true },
				]
			} else {
				return []
			}
		},
		practice_fields() {
			return [
				{ id: 'subscription', value: '', type: '', default: this.subscriptionid },
				{ id: 'typepractice', value: this.$transI18n.t('Type'), type: 'select', default: 1, needed: true, options: 'typepractices', large: true },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', needed: false, large: true },
			]
		},
		responsability_fields() {
			return [
				{ id: 'subscription', value: '', type: '', default: this.subscriptionid },
				{ id: 'structure', value: this.$transI18n.t('Structures'), type: 'select', needed: true, default: this.structureid, options: 'structures' },
				{ id: 'typeresponsability', value: this.$transI18n.t('Type'), type: 'select', default: 1, needed: true, options: 'typeresponsabilities' },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', needed: false, large: true },
			]
		},
		subscriptionIdSearch() {
			return { subscription: this.subscriptionid }
		},
		nosubscription() {
			return this.subscription === null
		},
		subscriptionid() {
			if (this.subscription !== null) {
				return this.subscription.id
			} else {
				return this.initsubscriptionid
			}
		},
		subscriptionSearch() {
			if (this.adherent) {
				return { adherent: this.adherent.id, dateref: this.currentseason }
			} else {
				return null
			}
		},
		structureid() {
			if (this.subscription !== null) {
				return this.subscription.structure
			} else {
				return -1
			}
		},
	},
	async mounted() {
	},
	methods: {
		refresh() {
			this.$emit('update', true)
			this.editing = false
			this.deleting = false
		},
		refreshSubscription() {
			this.refresh()
			this.$nextTick(() => {
				this.unique.subscription++
			})
		},
		showSubscriptionCurrent(subscription) {
			this.subscription = subscription
			this.unique.structure++
		},
		edit() {
			this.editing = true
		},
		remove() {
			this.deleting = true
		},
		async confirmRemove(value) {
			if (value === true) {
				try {
					await axios.delete(`/apps/cerana_adhesion/subscriptions/${this.subscription.id}`)
					showSuccess(this.$transI18n.t('Suppression réussie'))
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Impossible de supprimer cette cotisation !'))
				}
			}
			this.refresh()
		},
		tabchange(value) {
			this.unique[value.tab.id]++
		},
		updatedPractice() {
			this.unique.practice++
		},
		updatedResponsabilitys() {
			this.unique.responsability++
		},
	},
}

</script>
