<template>
	<div id="adherent">
		<Tabs @changed="tabchange">
			<Tab id="identity"
				:name="$transI18n.t('Identité')">
				<CompShowAdherent :key="unique['identity']"
					:initadherentid="adherentid"
					@current="showAdherentCurrent" />
			</Tab>
			<Tab v-if="adherent !== null"
				id="membership"
				:name="$transI18n.t('Adhésions')">
				<div class="selection">
					<label for="currentseason">
						{{ $transI18n.t('Saison') }}
					</label>
					<select id="currentseason"
						ref="currentseason"
						v-model="currentseason"
						name="currentseason"
						@change="changeSubscription">
						<option v-for="seasonitem in seasonlist"
							:key="seasonitem.value"
							:value="seasonitem.value">
							{{ seasonitem.name }}
						</option>
					</select>
				</div>
				<CompSubscription :key="unique['membership']"
					:currentseason="currentseason"
					:adherent="adherent" />
			</Tab>
		</Tabs>
	</div>
</template>

<script>
import CompShowAdherent from './CompShowAdherent'
import CompSubscription from './CompSubscription'
import { Tabs, Tab } from 'vue-tabs-component'

export default {
	name: 'CompAdherent',
	components: {
		CompShowAdherent,
		CompSubscription,
		Tabs,
		Tab,
	},
	props: {
		initadherentid: {
			type: Number,
			default: -1,
		},
	},
	emits: ['current'],
	data() {
		return {
			unique: { identity: 0, membership: 1000 },
			adherent: null,
			currentseason: null,
			loaded: false,
			loading: false,
		}
	},
	computed: {
		seasonlist() {
			try {
				if (this.loaded) {
					if (this.adherent) {
						return this.$store.getters.getSeasons(this.adherent.list_year)
					} else {
						return this.$store.getters.getSeasons()
					}
				} else {
					return []
				}
			} catch (err) {
				console.debug(err)
				return []
			}
		},
		adherentid() {
			if (this.adherent) {
				return this.adherent.id
			} else {
				return this.initadherentid
			}
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refreshSeasons')
			this.currentseason = this.$store.state.defaultSeason
		} finally {
			this.loading = false
		}
	},
	methods: {
		tabchange(value) {
			if (this.loaded) {
				this.unique[value.tab.id]++
			}
		},
		showAdherentCurrent(adherent) {
			if ((this.adherent === null) || (this.adherent.id !== adherent.id)) {
				this.adherent = adherent
				this.unique.membership++
				this.$emit('current', this.adherent)
			}
			this.loaded = true
		},
		changeSubscription() {
			if (this.loaded) {
				this.unique.membership++
				this.$store.commit('defaultSeason', this.currentseason)
			}
		},
	},
}

</script>
