<template>
	<div class="list">
		<input v-if="canAdd()"
			type="button"
			class="iconadd"
			:value="$transI18n.t('Nouveau')"
			:disabled="false"
			@click="editItem(null)">
		<div v-if="canSearch"
			class="navsearch">
			<label>
				{{ $transI18n.t('Critère de recherche') }}
			</label>
			<input ref="search"
				v-model="search"
				type="text">
			<Actions>
				<ActionButton
					icon="icon-search"
					@click="sizeChange">
					{{ $transI18n.t("Rechercher") }}
				</ActionButton>
			</Actions>
		</div>
		<div v-if="canPagination()"
			class="navlist">
			<SlidingPagination
				:current="currentPage"
				:total="totalPages"
				@page-change="pageChange" />
			<select ref="navsize"
				v-model="sizePage"
				@change="sizeChange">
				<option value="10">
					10
				</option>
				<option value="25">
					25
				</option>
				<option value="50">
					50
				</option>
				<option value="100">
					100
				</option>
				<option value="250">
					250
				</option>
			</select>
			<label>
				{{ totalitems }} {{ $transI18n.t("ligne(s)") }}
			</label>
		</div>
		<table>
			<thead>
				<tr>
					<th v-for="field in fieldlist" :key="field.id">
						{{ field.value }}
					</th>
					<th v-if="anybutton()" />
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in items"
					:key="item.id"
					:class="{active: currentItemId === item.id}">
					<td v-for="field in fieldlist"
						:key="field.id">
						<a v-if="field.type=='email'" :href="`mailto:${item[field.id]}`">{{ item[field.id] }}</a>
						<a v-else-if="field.type=='url'" :href="`${item[field.id]}`" target="_blank">{{ item[field.id] }}</a>
						<pre v-else-if="field.type=='textarea'">
{{ item[field.id] }}
						</pre>
						<span v-else>{{ showSelectedValue(item[field.id], field) }}</span>
					</td>
					<td v-if="anybutton()">
						<Actions v-if="showoption!='0'">
							<ActionButton
								icon="icon-file"
								@click="showItem(item)">
								{{ $transI18n.t("Consulter") }}
							</ActionButton>
						</Actions>
						<Actions v-if="editoption!='0'">
							<ActionButton
								icon="icon-edit"
								@click="editItem(item)">
								{{ $transI18n.t("Éditer") }}
							</ActionButton>
						</Actions>
						<Actions v-if="deleteoption!='0'">
							<ActionButton
								icon="icon-delete"
								@click="wantDelete(item)">
								{{ $transI18n.t('Supprimer') }}
							</ActionButton>
						</Actions>
					</td>
				</tr>
			</tbody>
		</table>
		<CompConfirm v-if="canDelete()"
			:message="$transI18n.t('Voulez-vous supprimer cet élément ?')"
			@confirm="confirmDelete" />
		<CompEditGeneric v-if="canEdit()"
			:itemid="currentItemId"
			:models="models"
			:fields="fields"
			@update="updated" />
		<Modal v-if="canShow()" @close="refresh">
			<div class="cerana-frame show">
				<h1 class="title">
					{{ $transI18n.t('Consultation') }}
				</h1>
				<CompShowGeneric
					:itemid="currentItemId"
					:models="models"
					:fields="fields" />
				<div class="cerana-button">
					<input type="button"
						class="primary"
						:value="$transI18n.t('Fermer')"
						@click="refresh">
				</div>
			</div>
		</Modal>
	</div>
</template>

<script>
import Modal from '@nextcloud/vue/dist/Components/Modal'
import Actions from '@nextcloud/vue/dist/Components/Actions'
import ActionButton from '@nextcloud/vue/dist/Components/ActionButton'

import axios from 'axios'
import { showError, showSuccess } from '@nextcloud/dialogs'

import CompEditGeneric from './CompEditGeneric'
import CompShowGeneric from './CompShowGeneric'
import CompConfirm from './CompConfirm'

import { filterValueByField } from './cerana_lib.js'

import SlidingPagination from 'vue-sliding-pagination'

export default {
	name: 'CompListGeneric',
	components: {
		Modal,
		Actions,
		ActionButton,
		SlidingPagination,
		CompEditGeneric,
		CompShowGeneric,
		CompConfirm,
	},
	props: {
		models: {
			type: String,
			default: '',
		},
		objects: {
			type: Array,
			default() { return [] },
		},
		fields: {
			type: Array,
			default() { return [] },
		},
		showoption: {
			type: String,
			default: '0',
		},
		addoption: {
			type: String,
			default: '1',
		},
		editoption: {
			type: String,
			default: '1',
		},
		deleteoption: {
			type: String,
			default: '1',
		},
		searching: {
			type: Object,
			default: null,
		},
	},
	emits: ['updated', 'showitem', 'edititem', 'deleteitem'],
	data() {
		return {
			items: [],
			currentItemId: null,
			loading: false,
			edit: false,
			delete: false,
			show: false,
			currentPage: 1,
			sizePage: 25,
			totalitems: 0,
			search: '',
		}
	},
	computed: {
		canSearch() {
			return (this.searching !== null) && (Object.keys(this.searching).length === 0) && !this.loading
		},
		totalPages() {
			return Math.trunc(1 + this.totalitems / this.sizePage)
		},
		/**
		 * Return the currently selected note object
		 * @returns {Object|null}
		 */
		currentItem() {
			if (this.currentItemId === null) {
				return null
			}
			return this.items.find((item) => item.id === this.currentItemId)
		},
		fieldlist() {
			const newfields = []
			for (const fieldidx in this.fields) {
				const field = this.fields[fieldidx]
				if ((field.type !== '') && !field.nolisting && (field.onlynew !== true)) {
					newfields.push(field)
				}
			}
			return newfields
		},

	},
	async mounted() {
		await this.refresh()
	},
	methods: {
		showSelectedValue(value, field) {
			return filterValueByField(this.$store, value, field)
		},
		pageChange(selectedPage) {
			this.currentPage = selectedPage
			this.refresh()
		},
		sizeChange() {
			this.pageChange(1)
		},
		anybutton() {
			return (this.showoption !== '0') || (this.editoption !== '0') || (this.deleteoption !== '0')
		},
		canAdd() {
			return (this.fields.length > 0) && (this.addoption === '1')
		},
		canPagination() {
			return (this.models !== '')
		},
		/**
		 * Check to show delete dialog
		 * @returns {boolean}
		 */
		canEdit() {
			return (this.currentItemId !== null) && this.edit
		},
		/**
		 * Check to show delete dialog
		 * @returns {boolean}
		 */
		canDelete() {
			return (this.currentItemId !== null) && this.delete
		},
		/**
		 * Check to show consult dialog
		 * @returns {boolean}
		 */
		canShow() {
			return (this.currentItemId !== null) && this.show
		},
		async updated(value) {
			await this.refresh()
			if (value !== false) {
				this.$emit('updated', value)
			}
		},
		/**
		 * Refresh adherent list
		 */
		async refresh() {
			this.loading = true
			try {
				this.edit = false
				this.delete = false
				this.show = false
				if (this.models === '') {
					this.items = this.objects
					this.totalitems = this.items.length
				} else {
					try {
						const getquery = { page: this.currentPage - 1, size: this.sizePage }
						if (typeof this.searching === 'object') {
							for (const searchingidx in this.searching) {
								getquery[searchingidx] = this.searching[searchingidx]
							}
						}
						if (this.search !== '') {
							getquery.search = this.search
						}
						const params = new URLSearchParams(getquery)
						const response = await axios.get(`/apps/cerana_adhesion/${this.models}?${params}`)
						this.items = response.data.list
						this.totalitems = response.data.total
					} catch (e) {
						console.error(e)
						showError(this.$transI18n.t('Impossible de récupérer la list'))
					}
				}
			} finally {
				this.loading = false
			}
		},
		/**
		 * select item to manage action
		 * @param {Object} item Item object
		 * @returns {Boolean}
		 */
		selectItem(item) {
			if (this.loading) {
				return false
			} else {
				if (item === null) {
					this.currentItemId = -1
				} else {
					this.currentItemId = item.id
				}
				return true
			}
		},
		/**
		 * Show selected item
		 * @param {Object} item Item object
		 */
		showItem(item) {
			if (this.selectItem(item)) {
				if (this.showoption === '1') {
					this.show = true
				}
				if (this.showoption === '2') {
					this.$emit('showitem', this.currentItem)
				}
			}
		},
		/**
		 * Edit selected item
		 * @param {Object} item Item object
		 */
		editItem(item) {
			if (this.selectItem(item)) {
				if (this.editoption === '1') {
					this.edit = true
				}
				if (this.editoption === '2') {
					this.$emit('edititem', this.currentItem)
				}
			}
		},
		/**
		 * Active delete confirm dialog
		 * @param {Object} item Item object
		 */
		wantDelete(item) {
			if (this.selectItem(item)) {
				if (this.deleteoption === '1') {
					this.delete = true
				}
				if (this.deleteoption === '2') {
					this.$emit('deleteitem', this.currentItem)
				}
			}
		},
		/**
		 * Delete current item and refresh
		 * @param {boolean} value true to delete
		 */
		async confirmDelete(value) {
			if (value === true) {
				await this.deleteItem()
			}
			this.updated(true)
		},
		/**
		 * Delete a item in server
		 */
		async deleteItem() {
			this.loading = true
			try {
				try {
					const item = this.currentItem
					await axios.delete(`/apps/cerana_adhesion/${this.models}/${item.id}`)
					showSuccess(this.$transI18n.t('Suppression réussie'))
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Impossible de supprimer cet élément !'))
				}
			} finally {
				this.loading = false
			}
		},
	},
}

</script>
