<template>
	<Modal @close="cancel">
		<div v-if="item"
			class="edit cerana-frame">
			<h1 class="title">
				{{ title }}
			</h1>
			<div class="table">
				<div v-for="field in fieldlist"
					:key="getkey(field.id)"
					:class="{'cell':true, 'celllarge':field.large}">
					<label :for="field.id">
						{{ field.value }}
					</label>
					<span v-if="field.type == 'label'"
						class="spanlabel">
						{{ showSelectedValue(item[field.id], field) }}
					</span>
					<textarea v-else-if="field.type == 'textarea'"
						:id="field.id"
						:ref="field.id"
						v-model="item[field.id]"
						v-bind="field.attribs"
						:name="field.id"
						:required="field.needed"
						@change="fieldChange" />
					<select v-else-if="field.type == 'select'"
						:id="field.id"
						:ref="field.id"
						v-model="item[field.id]"
						v-bind="field.attribs"
						:name="field.id"
						:required="field.needed"
						@change="fieldChange">
						<option v-if="!field.needed"
							value="0">
							---
						</option>
						<option v-for="optionitem in field.items"
							:key="optionitem.value"
							:value="optionitem.value">
							{{ optionitem.name }}
						</option>
					</select>
					<DatetimePicker v-else-if="field.type == 'date'"
						:id="field.id"
						:ref="field.id"
						v-model="item[field.id]"
						v-bind="field.attribs"
						:name="field.id"
						format="DD/MM/YYYY"
						type="date"
						:required="field.needed"
						@change="fieldChange" />
					<span v-else-if="field.type == 'file'"
						class="spanimg">
						<img v-if="item[field.id]!=''"
							:src="item[field.id]">
						<img v-else
							src="/apps/cerana_adhesion/img/empty.png">
						<input
							:id="field.id"
							:ref="field.id"
							v-bind="field.attribs"
							:name="field.id"
							:required="field.needed"
							type="file"
							accept="image/*"
							@change="loadimage">
					</span>
					<input v-else
						:id="field.id"
						:ref="field.id"
						v-model="item[field.id]"
						v-bind="field.attribs"
						:name="field.id"
						:required="field.needed"
						:type="field.type"
						@change="fieldChange">
				</div>
			</div>
			<div class="cerana-button">
				<input type="button"
					class="primary"
					:value="$transI18n.t('Sauver')"
					:disabled="loading"
					@click="save">
				<input type="button"
					class="primary"
					:value="$transI18n.t('Annuler')"
					:disabled="loading"
					@click="cancel">
			</div>
		</div>
	</Modal>
</template>

<script>
import axios from 'axios'
import Modal from '@nextcloud/vue/dist/Components/Modal'
import DatetimePicker from '@nextcloud/vue/dist/Components/DatetimePicker'
import { showError, showSuccess } from '@nextcloud/dialogs'

import { filterValueByField, getOptionsData } from './cerana_lib.js'

export default {
	name: 'CompEditGeneric',
	components: {
		Modal,
		DatetimePicker,
	},
	props: {
		models: {
			type: String,
			default: '',
		},
		fields: {
			type: Array,
			default() { return [] },
		},
		itemid: {
			type: Number,
			default: null,
		},
	},
	emits: ['update'],
	data() {
		return {
			title: '',
			item: null,
			loading: false,
			unique: 0,
		}
	},
	computed: {
		fieldlist() {
			const newfields = []
			for (const fieldidx in this.fields) {
				const field = this.fields[fieldidx]
				if ((field.type !== '') && ((field.onlynew !== true) || (this.itemid === -1))) {
					field.items = getOptionsData(this.$store, field.options)
					newfields.push(field)
				}
			}
			return newfields
		},
	},
	/**
	 * Load adherent or prepare new item
	 */
	async mounted() {
		if ((this.itemid === null) || (this.models === '')) {
			return
		}
		this.loading = true
		try {
			if (this.itemid === -1) {
				this.title = this.$transI18n.t('Création')
				this.item = {
					id: -1,
				}
			} else {
				this.title = this.$transI18n.t('Modification')
				try {
					this.item = null
					const response = await axios.get(`/apps/cerana_adhesion/${this.models}/${this.itemid}`)
					this.item = response.data
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Impossible de récupérer l\'élément !'))
					this.cancel()
				}
			}
			for (const fieldidx in this.fields) {
				const field = this.fields[fieldidx]
				if (this.item[field.id] === undefined) {
					this.item[field.id] = field.default
				}
				if (field.type === 'date') {
					const newDate = new Date(String(this.item[field.id]))
					if (isNaN(newDate.getTime())) {
						console.error(newDate.toString())
					} else {
						this.item[field.id] = newDate
					}
				}
			}
		} finally {
			this.loading = false
		}
	},
	methods: {
		showSelectedValue(value, field) {
			return filterValueByField(this.$store, value, field)
		},
		/**
		 * Returns true if a field is invalid
		 * @returns {Boolean}
		 */
		isSavePossible() {
			let isValid = true
			const topListItem = this.$el.querySelectorAll('input')
			for (let indexItem = 0; indexItem < topListItem.length; indexItem++) {
				const inputEle = topListItem[indexItem]
				isValid = isValid && inputEle.checkValidity()
			}
			return isValid
		},
		fieldChange() {
			this.unique++
		},
		getkey(fieldid) {
			return fieldid + '-' + this.unique
		},
		/**
		 * Cancel editor
		 */
		cancel() {
			this.$emit('update', false)
		},
		/**
		 * load image from file component
		 * @param {Object} event event of action
		 */
		loadimage(event) {
			if (event.target.files.length > 0) {
				const self = this
				const reader = new FileReader()
		        reader.onload = function(e) {
					self.item[event.target.id] = e.target.result
				}
				reader.readAsDataURL(event.target.files[0])
			}
		},
		/**
		 * Action tiggered when clicking the save button
		 * create a new adherent or save
		 */
		async save() {
			this.loading = true
			try {
				if (this.isSavePossible()) {
					let success
					if (this.item.id === -1) {
						success = await this.create()
					} else {
						success = await this.update()
					}
					if (success) {
						this.$emit('update', this.item)
					} else {
						this.$emit('update', false)
					}
				} else {
					showError(this.$transI18n.t('Erreur dans le formulaire !'))
					this.$emit('update', false)
				}
			} finally {
				this.loading = false
			}
		},
		/**
		 * Adapte data of item before send
		 * @returns {Object}
		 */
		getDataItem() {
			for (const fieldidx in this.fields) {
				const field = this.fields[fieldidx]
				if (field.type === 'date') {
					if (this.item[field.id] instanceof Date) {
						this.item[field.id] = this.item[field.id].toISOString().split('T')[0]
					}
				}
				if (field.type === '') {
					this.item[field.id] = field.default
				}
				if (field.type === 'file') {
					if (this.$refs[field.id][0].files.length === 0) {
						delete this.item[field.id]
					}
				}
			}
			return this.item
		},
		/**
		 * Create a new adherent by sending the information to the server
		 */
		async create() {
			try {
				const response = await axios.post(`/apps/cerana_adhesion/${this.models}`, this.getDataItem())
				this.item = response.data
				showSuccess(this.$transI18n.t('Création réussie'))
				return true
			} catch (e) {
				console.error(e)
				showError(this.$transI18n.t('Impossible de créer cet élément !'))
				return false
			}
		},
		/**
		 * Update an existing adherent on the server
		 */
		async update() {
			try {
				await axios.put(`/apps/cerana_adhesion/${this.models}/${this.item.id}`, this.getDataItem())
				showSuccess(this.$transI18n.t('Modification réussie'))
				return true
			} catch (e) {
				console.error(e)
				showError(this.$transI18n.t('Impossible de modifier cet élément !'))
				return false
			}
		},
	},
}
</script>
