<template>
	<div v-if="item"
		class="showtable">
		<div v-for="field in fieldlist"
			:key="field.id"
			:name="field.id"
			:class="{'cell':true, 'celllarge':field.large}">
			<label :for="field.id">
				{{ field.value }}
			</label>
			<span class="spanlabel">
				<a v-if="field.type=='email'"
					:href="`mailto:${item[field.id]}`">
					{{ item[field.id] }}
				</a>
				<a v-else-if="field.type=='url'"
					:href="`${item[field.id]}`"
					target="_blank">
					{{ item[field.id] }}
				</a>
				<pre v-else-if="field.type=='textarea'">
{{ item[field.id] }}
				</pre>
				<img v-else-if="(field.type=='file') && (item[field.id]!='')"
					:src="item[field.id]">
				<img v-else-if="field.type=='file'"
					src="/apps/cerana_adhesion/img/empty.png">
				<span v-else>
					{{ showSelectedValue(item[field.id], field) }}
				</span>
			</span>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import { showError } from '@nextcloud/dialogs'

import { filterValueByField } from './cerana_lib.js'

export default {
	name: 'CompShowGeneric',
	components: {
	},
	props: {
		models: {
			type: String,
			default: '',
		},
		object: {
			type: Object,
			default: null,
		},
		fields: {
			type: Array,
			default() { return [] },
		},
		itemid: {
			type: Number,
			default: 0,
		},
		search: {
			type: Object,
			default: null,
		},
		ignoreid: {
			type: Number,
			default: 0,
		},
	},
	emits: ['current'],
	data() {
		return {
			loading: false,
			item: null,
		}
	},
	computed: {
		fieldlist() {
			const newfields = []
			for (const fieldidx in this.fields) {
				const field = this.fields[fieldidx]
				if ((field.type !== '') && !field.noshow && (field.onlynew !== true)) {
					newfields.push(field)
				}
			}
			return newfields
		},
	},
	/**
	 * Load adherent or prepare new item
	 */
	async mounted() {
		await this.refresh()
	},
	methods: {
		showSelectedValue(value, field) {
			return filterValueByField(this.$store, value, field)
		},
		async refresh() {
			this.loading = true
			try {
				if ((this.itemid === 0) && (this.search === null)) {
					return
				}
				if (this.models === '') {
					this.item = this.object
				} else {
					try {
						this.item = null
						let params = ''
						if (this.search) {
							params = '?' + new URLSearchParams(this.search)
						}
						const response = await axios.get(`/apps/cerana_adhesion/${this.models}/${this.itemid}${params}`)
						if ((response.status === 200) && (typeof response.data !== 'string') && !(response.data instanceof String)) {
							this.item = response.data
						}
					} catch (e) {
						if (this.itemid !== this.ignoreid) {
							console.error(e)
							showError(this.$transI18n.t('Impossible de récupérer l\'élément !'))
						}
					}
				}
				this.$emit('current', this.item)
				if (this.item !== null) {
					for (const fieldidx in this.fields) {
						const field = this.fields[fieldidx]
						if (this.item[field.id] === undefined) {
							this.item[field.id] = field.default
						}
						if (field.type === 'date') {
							const newDate = new Date(String(this.item[field.id]))
							if (isNaN(newDate.getTime())) {
								console.error(newDate.toString())
							} else {
								this.item[field.id] = newDate
							}
						}
					}
				}
			} finally {
				this.loading = false
			}
		},
	},
}
</script>
