<template>
	<div id="members">
		<div v-if="canShow()"
			class="currentfile cerana-frame">
			<input type="button"
				class="primary"
				:value="$transI18n.t('Retour')"
				@click="refresh()">
			<h1 class="title">
				{{ $transI18n.t('Fiche d\'adhérent') }}
			</h1>
			<CompAdherent :initadherentid="currentAdherentid" />
		</div>
		<div v-else>
			<div id="members-selection" class="selection">
				<label for="currentseason">
					{{ $transI18n.t('Saison') }}
				</label>
				<select id="currentseason"
					ref="currentseason"
					v-model="currentseason"
					name="currentseason"
					@change="refresh">
					<option v-for="seasonitem in seasonlist"
						:key="seasonitem.value"
						:value="seasonitem.value">
						{{ seasonitem.name }}
					</option>
				</select>
			</div>
			<div class="list">
				<input type="button"
					class="iconadd"
					:value="$transI18n.t('Nouveau')"
					:disabled="false"
					@click="editadherent()">
			</div>
			<Tabs v-show="notEmpty()"
				@changed="tabchange">
				<Tab id="practice"
					class="panel"
					:name="$transI18n.t('Participants')">
					<div class="navsearch">
						<label>
							{{ $transI18n.t('Filtre par pratique') }}
						</label>
						<select id="currentpractice"
							ref="currentpractice"
							v-model="currentpractice"
							name="currentpractice"
							@change="tabchange({tab:{id:'practice'}})">
							<option v-for="practiceitem in practicelist()"
								:key="practiceitem.value"
								:value="practiceitem.value">
								{{ practiceitem.name }}
							</option>
						</select>
					</div>
					<CompListGeneric :key="unique['practice']"
						models="practices"
						:fields="practice_fields"
						:searching="subscriptionIdSearch"
						showoption="2"
						addoption="0"
						editoption="2"
						deleteoption="0"
						@showitem="showadherent"
						@edititem="editadherent" />
				</Tab>
				<Tab id="responsability"
					class="panel"
					:name="$transI18n.t('Responsables')">
					<CompListGeneric :key="unique['responsability']"
						models="responsabilitys"
						:fields="responsability_fields"
						:searching="subscriptionIdSearch"
						showoption="2"
						addoption="0"
						editoption="2"
						deleteoption="0"
						@showitem="showadherent"
						@edititem="editadherent" />
				</Tab>
				<Tab id="associate"
					class="panel"
					:name="$transI18n.t('Adhérents associés')">
					<CompListGeneric :key="unique['associate']"
						models="adherents"
						:fields="adherent_fields"
						:searching="subscriptionIdSearch"
						showoption="2"
						addoption="0"
						editoption="2"
						deleteoption="0"
						@showitem="showadherent"
						@edititem="editadherent" />
				</Tab>
			</Tabs>
		</div>
		<CompEditGeneric v-if="canEdit()"
			:itemid="currentAdherentid"
			models="adherents"
			:fields="adherent_fields"
			@update="refreshEdit" />
	</div>
</template>

<script>
import axios from 'axios'

import CompListGeneric from './CompListGeneric'
import CompEditGeneric from './CompEditGeneric'
import CompAdherent from './CompAdherent'

import { Tabs, Tab } from 'vue-tabs-component'

import { adherentsFields, getCivilities } from './cerana_lib.js'

export default {
	name: 'CompMembers',
	components: {
		CompListGeneric,
		CompAdherent,
		CompEditGeneric,
		Tabs,
		Tab,
	},
	props: {
		structureid: {
			type: Number,
			default: -1,
		},
	},
	data() {
		return {
			unique: { responsability: 0, practice: 1000, associate: 1000000 },
			currentseason: null,
			currentAdherentid: 0,
			currentpractice: 0,
			loading: false,
			show: false,
			edit: false,
		}
	},
	computed: {
		practice_fields() {
			return [
				{ id: 'num', value: this.$transI18n.t('N° adhérent'), type: 'label', default: '---' },
				{ id: 'civility', value: this.$transI18n.t('Genre'), type: 'select', default: 1, needed: true, options: getCivilities() },
				{ id: 'lastname', value: this.$transI18n.t('Nom'), type: 'text', default: '' },
				{ id: 'firstname', value: this.$transI18n.t('Prénom'), type: 'text', default: '' },
				{ id: 'birthdaydate', value: this.$transI18n.t('Date de naissance'), type: 'date', default: new Date('2000-01-01'), needed: true },
				{ id: 'email', value: this.$transI18n.t('courriel'), type: 'email', default: '', needed: false },
				{ id: 'typepractice', value: this.$transI18n.t('Type'), type: 'select', default: 1, needed: true, options: 'typepractices', large: true },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', needed: false, large: true },
			]
		},
		responsability_fields() {
			return [
				{ id: 'num', value: this.$transI18n.t('N° adhérent'), type: 'label', default: '---' },
				{ id: 'civility', value: this.$transI18n.t('Genre'), type: 'select', default: 1, needed: true, options: getCivilities() },
				{ id: 'lastname', value: this.$transI18n.t('Nom'), type: 'text', default: '' },
				{ id: 'firstname', value: this.$transI18n.t('Prénom'), type: 'text', default: '' },
				{ id: 'birthdaydate', value: this.$transI18n.t('Date de naissance'), type: 'date', default: new Date('2000-01-01'), needed: true },
				{ id: 'email', value: this.$transI18n.t('courriel'), type: 'email', default: '', needed: false },
				{ id: 'typeresponsability', value: this.$transI18n.t('Type'), type: 'select', default: 1, needed: true, options: 'typeresponsabilities' },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', needed: false, large: true },
			]
		},
		subscriptionIdSearch() {
			return { structure: this.structureid, date: this.currentseason, typepractice: this.currentpractice }
		},
		adherent_fields() {
			let fields = []
			fields = fields.concat(adherentsFields)
			fields = fields.concat([
				{ id: 'dateref', value: this.$transI18n.t('Saison'), type: 'label', needed: true, default: this.currentseason, options: 'seasons', large: true, onlynew: true },
				{ id: 'structure', value: this.$transI18n.t('Structures'), type: 'label', needed: true, default: this.structureid, options: 'structures', onlynew: true },
				{ id: 'typeadhesion', value: this.$transI18n.t('Type de cotisation'), type: 'select', needed: true, default: 0, options: 'typeadhesions', onlynew: true },
				{ id: 'typepractice', value: this.$transI18n.t('Pratique'), type: 'select', default: 0, needed: false, options: 'typepractices', onlynew: true },
				{ id: 'typeresponsability', value: this.$transI18n.t('Responsabilité'), type: 'select', default: 0, needed: false, option: 'typeresponsabilities', onlynew: true },
			])
			return fields
		},
		seasonlist() {
			return this.$store.getters.getSeasons()
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
			this.currentseason = this.$store.state.defaultSeason
			this.refresh()
		} finally {
			this.loading = false
		}
	},
	methods: {
		notEmpty() {
			return (this.currentseason !== null)
		},
		practicelist() {
			const practices = this.$store.getters.getTypepractices()
			return [{ value: 0, name: '---' }].concat(practices)
		},
		tabchange(value) {
			this.unique[value.tab.id]++
		},
		refresh() {
			this.show = false
			this.edit = false
			this.currentAdherentid = 0
			this.$store.commit('defaultSeason', this.currentseason)
			this.unique.responsability++
			this.unique.practice++
			this.unique.associate++
		},
		async refreshEdit(item) {
			this.loading = true
			try {
				if ((item !== false) && (this.currentAdherentid === -1)) {
					this.edit = false
					this.currentAdherentid = 0
					const addingdata = { adherent: item.id, dateref: this.currentseason, structure: this.structureid, typeadhesion: this.$store.state.defaultTypeadhesion, comment: '' }
					try {
						await axios.post('/apps/cerana_adhesion/subscriptions', addingdata)
					} catch (e) {
						console.error(e)
					}
					this.currentAdherentid = item.id
					this.show = true
				} else {
					this.refresh()
				}
			} finally {
				this.loading = false
			}
		},
		selectadherent(item) {
			if (item !== undefined) {
				if (item.adherentid !== undefined) {
					this.currentAdherentid = parseInt(item.adherentid, 10)
				} else {
					this.currentAdherentid = parseInt(item.id, 10)
				}
			} else {
				this.currentAdherentid = -1
			}
		},
		showadherent(item) {
			this.selectadherent(item)
			this.show = true
		},
		editadherent(item) {
			this.selectadherent(item)
			this.edit = true
		},
		canShow() {
			return (this.currentAdherentid !== 0) && this.show
		},
		canEdit() {
			return (this.currentAdherentid !== 0) && this.edit
		},
	},
}

</script>
