<template>
	<div id="listadherent">
		<h1 class="title">
			{{ $transI18n.t('Les adhérents') }}
		</h1>
		<div class="cerana-content">
			<div v-if="canShow()"
				class="currentfile cerana-frame">
				<input type="button"
					class="primary"
					:value="$transI18n.t('Retour')"
					@click="refresh()">
				<h1 class="title">
					{{ show_title }}
				</h1>
				<CompAdherent :initadherentid="currentAdherent.id" />
			</div>
			<CompListGeneric v-else
				:key="unique"
				models="adherents"
				showoption="2"
				:searching="search_val"
				:fields="adherents_fields"
				@showitem="showAdherent" />
		</div>
	</div>
</template>

<script>
import CompListGeneric from './CompListGeneric'
import CompAdherent from './CompAdherent'
import { adherentsFields } from './cerana_lib.js'

export default {
	name: 'MenuList',
	components: {
		CompListGeneric,
		CompAdherent,
	},
	data() {
		return {
			adherents_fields: adherentsFields,
			unique: 0,
			currentAdherent: null,
			show: false,
			loading: false,
			search_val: {},
		}
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
			this.refresh()
		} finally {
			this.loading = false
		}
	},
	methods: {
		/**
		 * Check to show consult dialog
		 * @returns {boolean}
		 */
		canShow() {
			return (this.currentAdherent !== null) && this.show
		},
		/**
		 * Refresh adherent list
		 */
		refresh() {
			this.currentAdherent = null
			this.show = false
			this.unique++
		},
		/**
		 * Show consult dialog of selected adherent
		 * @param {Object} adherent Adherent object
		 */
		showAdherent(adherent) {
			this.currentAdherent = adherent
			this.show_title = String(this.$transI18n.t('Fiche de %name%')).replace('%name%', adherent.firstname + ' ' + adherent.lastname)
			this.show = true
		},
	},
}

</script>
