<template>
	<div id="general">
		<h1 class="title">
			{{ $transI18n.t('Général') }}
		</h1>
		<Tabs class="cerana-content"
			@changed="tabchange">
			<Tab id="levels"
				class="panel"
				:name="$transI18n.t('Les échelons')">
				<CompListGeneric :key="unique['levels']"
					models="levels"
					:fields="level_fields"
					@updated="updatedLevels" />
			</Tab>
		</Tabs>
	</div>
</template>

<script>
import CompListGeneric from './CompListGeneric'
import { Tabs, Tab } from 'vue-tabs-component'

export default {
	name: 'MenuGeneral',
	components: {
		CompListGeneric,
		Tabs,
		Tab,
	},
	data() {
		return {
			loading: false,
			unique: { levels: 0 },
			level_fields: [
				{ id: 'level', value: this.$transI18n.t('Niveau N°'), type: 'number', default: 1, needed: true, attribs: { min: 1, max: 10 } },
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '' },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', large: true },
			],
		}
	},
	computed: {
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
		} finally {
			this.loading = false
		}
	},
	methods: {
		tabchange(value) {
			this.unique[value.tab.id]++
		},
		async updatedLevels(value) {
			this.loading = true
			try {
				this.$store.commit('setLevels', null)
				await this.$store.dispatch('refreshLevels')
			} finally {
				this.loading = false
			}
		},
	},
}

</script>
