<template>
	<div id="current">
		<h1 class="title">
			{{ $transI18n.t('Ma fiche') }}
		</h1>
		<div class="cerana-content">
			<div v-if="empty"
				id="emptycontent">
				<div class="nav-content nav-current" />
				<h2>{{ $transI18n.t('Compte non adhérent !') }}</h2>
			</div>
			<div class="currentfile cerana-frame">
				<CompAdherent v-show="!empty"
					:key="unique"
					:initadherentid="adherentid"
					@current="showCurrent" />
				<CompEditGeneric v-if="canEdit"
					:itemid="adherentid"
					models="adherents"
					:fields="adherent_fields"
					@update="refresh" />
				<div v-if="!empty"
					id="editidentity"
					class="cerana-button">
					<input type="button"
						class="primary"
						:value="$transI18n.t('Éditer')"
						@click="editing()">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import CompAdherent from './CompAdherent'
import CompEditGeneric from './CompEditGeneric'

import { adherentsFields } from './cerana_lib.js'

export default {
	name: 'MenuCurrent',
	components: {
		CompAdherent,
		CompEditGeneric,
	},
	data() {
		return {
			adherent_fields: adherentsFields,
			adherent: null,
			edit: false,
			loading: false,
			unique: 0,
		}
	},
	computed: {
		empty() {
			return this.adherent === null
		},
		canEdit() {
			return (this.adherent !== null) && this.edit
		},
		adherentid() {
			if (this.adherent !== null) {
				return this.adherent.id
			} else {
				return -1
			}
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
			this.refresh()
		} finally {
			this.loading = false
		}
	},
	methods: {
		showCurrent(adherent) {
			this.adherent = adherent
			if (this.adherent) {
				this.$nextTick(() => {
					this.moveEditBtn()
				})
			}
		},
		editing() {
			this.edit = true
		},
		refresh() {
			this.edit = false
			this.unique++
			this.$forceUpdate()
		},
		moveEditBtn() {
			const editidentity = window.$('#editidentity')
			const identity = window.$('#identity')
			identity.append(editidentity)
		},
	},
}

</script>
