<template>
	<div id="report">
		<h1 class="title">
			{{ $transI18n.t('Statistiques') }}
		</h1>
		<div class="cerana-content">
			<div id="report-selection" class="selection">
				<label for="currentstructureid">
					{{ $transI18n.t('Structure') }}
				</label>
				<select id="currentstructureid"
					ref="currentstructureid"
					v-model="currentstructureid"
					name="currentstructureid"
					@change="changeSelection">
					<option v-for="structureitem in structures()"
						:key="structureitem.value"
						:value="structureitem.value">
						{{ structureitem.name }}
					</option>
				</select>
				<label for="currentseason">
					{{ $transI18n.t('Saison') }}
				</label>
				<select id="currentseason"
					ref="currentseason"
					v-model="currentseason"
					name="currentseason"
					@change="changeSelection">
					<option v-for="seasonitem in seasonlist()"
						:key="seasonitem.value"
						:value="seasonitem.value">
						{{ seasonitem.name }}
					</option>
				</select>
			</div>
			<div class="cerana-frame show edit">
				<div class="table">
					<fieldset v-if="hasdata('subscription')"
						id="subscription"
						class="celllarge">
						<legend>
							{{ $transI18n.t('Cotisations') }}
						</legend>
						<CompListGeneric
							:key="unique['subscription']"
							:objects="statistics.subscriptions"
							addoption="0"
							showoption="0"
							editoption="0"
							deleteoption="0"
							:fields="subscription_fields" />
					</fieldset>
					<fieldset v-if="hasdata('practice')"
						id="practice">
						<legend>
							{{ $transI18n.t('Pratiques') }}
						</legend>
						<CompListGeneric
							:key="unique['practice']"
							:objects="statistics.practices"
							addoption="0"
							showoption="0"
							editoption="0"
							deleteoption="0"
							:fields="practice_fields" />
					</fieldset>
					<fieldset v-if="hasdata('responsability')"
						id="responsability">
						<legend>
							{{ $transI18n.t('Responsabilités') }}
						</legend>
						<CompListGeneric
							:key="unique['responsability']"
							:objects="statistics.responsabilities"
							addoption="0"
							showoption="0"
							editoption="0"
							deleteoption="0"
							:fields="responsability_fields" />
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import { showError } from '@nextcloud/dialogs'

import CompListGeneric from './CompListGeneric'

export default {
	name: 'MenuReport',
	components: {
		CompListGeneric,
	},
	data() {
		return {
			currentstructureid: -1,
			currentseason: null,
			statistics: null,
			loading: false,
			unique: { subscription: 0, practice: 100, responsability: 10000 },
			subscription_fields: [
				{ id: 'typeadhesion', value: this.$transI18n.t('Type d\'adhésion'), type: 'select', default: this.$transI18n.t('TOTAL'), options: 'typeadhesions' },
				{ id: 'nb', value: this.$transI18n.t('Nombre'), type: 'label', default: '---' },
			],
			practice_fields: [
				{ id: 'typepractice', value: this.$transI18n.t('Type de pratique'), type: 'select', default: this.$transI18n.t('TOTAL'), options: 'typepractices' },
				{ id: 'nb', value: this.$transI18n.t('Nombre'), type: 'label', default: '---' },
			],
			responsability_fields: [
				{ id: 'typeresponsability', value: this.$transI18n.t('Type de responsabilité'), type: 'select', default: this.$transI18n.t('TOTAL'), options: 'typeresponsabilities' },
				{ id: 'nb', value: this.$transI18n.t('Nombre'), type: 'label', default: '---' },
			],
		}
	},
	computed: {
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
			this.currentstructureid = this.$store.state.defaultStructure
			this.currentseason = this.$store.state.defaultSeason
			await this.changeSelection()
		} finally {
			this.loading = false
		}
	},
	methods: {
		structures() {
			return this.$store.getters.getStructures()
		},
		seasonlist() {
			return this.$store.getters.getSeasons()
		},
		hasdata(tag) {
			if (this.statistics) {
				if (tag === 'subscription') {
					return this.statistics.subscriptions.length > 1
				}
				if (tag === 'practice') {
					return this.statistics.practices.length > 1
				}
				if (tag === 'responsability') {
					return this.statistics.responsabilities.length > 1
				}
			}
			return false
		},
		async changeSelection() {
			this.loading = true
			try {
				try {
					const params = '?' + new URLSearchParams({ structure: this.currentstructureid, date: this.currentseason })
					const response = await axios.get(`/apps/cerana_adhesion/statistics${params}`)
					this.statistics = response.data
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Erreur de statistique !'))
				}
				this.unique.subscription++
				this.unique.practice++
				this.unique.responsability++
				this.$store.commit('defaultStructure', this.currentstructureid)
			} finally {
				this.loading = false
			}
		},
	},
}

</script>
