<template>
	<div id="report">
		<h1 class="title">
			{{ $transI18n.t('Cotisations') }}
		</h1>
		<Tabs class="cerana-content"
			@changed="tabchange">
			<Tab id="typeadhesions"
				class="panel"
				:name="$transI18n.t('Types de cotisations')">
				<CompListGeneric :key="unique['typeadhesions']"
					models="type_adhesions"
					:fields="typeadhesion_fields"
					@updated="updatedTypeAdhesions" />
			</Tab>
			<Tab id="typeresponsabilitys"
				class="panel"
				:name="$transI18n.t('Types de responsabilités')">
				<CompListGeneric :key="unique['typeresponsabilitys']"
					models="type_responsabilitys"
					:fields="typeresponsability_fields"
					@updated="updatedResponsabilitys" />
			</Tab>
			<Tab id="typepractices"
				class="panel"
				:name="$transI18n.t('Types de pratiques')">
				<CompListGeneric :key="unique['typepractices']"
					models="type_practices"
					:fields="typepractice_fields"
					@updated="updatedPractices" />
			</Tab>
		</Tabs>
	</div>
</template>

<script>

import CompListGeneric from './CompListGeneric'
import { Tabs, Tab } from 'vue-tabs-component'

export default {
	name: 'MenuSubscription',
	components: {
		CompListGeneric,
		Tabs,
		Tab,
	},
	data() {
		return {
			loading: false,
			unique: { typeadhesions: 0, typeresponsabilitys: 100, typepractices: 10000, level: 1000000 },
			typeadhesion_fields: [
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '' },
			],
			typeresponsability_fields: [
				{ id: 'level', value: this.$transI18n.t('Échelon'), type: 'select', default: 1, needed: true, options: 'levels' },
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '' },
			],
			typepractice_fields: [
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '' },
			],
		}
	},
	computed: {
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
		} finally {
			this.loading = false
		}
	},
	methods: {
		tabchange(value) {
			this.unique[value.tab.id]++
		},
		async updatedTypeAdhesions(value) {
			this.loading = true
			try {
				this.$store.commit('setTypeadhesions', null)
				await this.$store.dispatch('refreshTypeadhesions')
			} finally {
				this.loading = false
			}
		},
		async updatedResponsabilitys(value) {
			this.loading = true
			try {
				this.$store.commit('setTyperesponsabilities', null)
				await this.$store.dispatch('refreshTyperesponsabilities')
			} finally {
				this.loading = false
			}
		},
		async updatedPractices(value) {
			this.loading = true
			try {
				this.$store.commit('setTypepractices', null)
				await this.$store.dispatch('refreshTypepractices')
			} finally {
				this.loading = false
			}
		},
	},
}

</script>
