<template>
	<div id="dashboard">
		<h1 class="title">
			{{ $transI18n.t('Tableau de bord') }}
		</h1>
		<div class="cerana-content">
			<div v-if="empty"
				id="emptycontent">
				<div class="nav-content nav-dashboard" />
				<h2>{{ $transI18n.t('Tableau de bord vide !') }}</h2>
			</div>
			<div class="cerana-frame show">
				<div v-show="!empty" :class="{'table':!empty}">
					<fieldset id="identity">
						<legend v-if="!empty">
							{{ $transI18n.t('Identité') }}
						</legend>
						<CompShowGeneric
							:key="unique['identity']"
							models="adherents"
							:itemid="adherentid"
							:ignoreid="adherentid"
							:fields="adherent_fields"
							@current="showAdherentCurrent" />
					</fieldset>
					<fieldset v-if="!empty"
						id="structure">
						<legend>
							{{ $transI18n.t('Structure d\'appartenance') }}
						</legend>
						<div v-if="currentstructureid==0">
							<h2>{{ $transI18n.t('Aucune appartenance') }}</h2>
						</div>
						<CompShowGeneric v-else
							:key="unique['structure']"
							models="structures"
							:itemid="currentstructureid"
							:fields="structure_fields"
							@current="showStructureCurrent" />
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import CompShowGeneric from './CompShowGeneric'

export default {
	name: 'MenuDashboard',
	components: {
		CompShowGeneric,
	},
	data() {
		return {
			loading: false,
			unique: { identity: 0, structure: 100 },
			adherent_fields: [
				{ id: 'num', value: this.$transI18n.t('N° adhérent'), type: 'label', default: '---', large: true },
				{ id: 'lastname', value: this.$transI18n.t('Nom'), type: 'text', default: '', needed: true },
				{ id: 'firstname', value: this.$transI18n.t('Prénom'), type: 'text', default: '', needed: true },
				{ id: 'email', value: this.$transI18n.t('courriel'), type: 'email', default: '', needed: false },
				{ id: 'phone1', value: this.$transI18n.t('Tel. 1'), type: 'text', default: '', needed: false },
				{ id: 'last_season', value: this.$transI18n.t('Dernière saison'), type: 'select', default: '---', needed: true, options: 'seasons' },
				{ id: 'last_typeadhesion', value: this.$transI18n.t('Type d\'adhésion '), type: 'select', default: '---', needed: true, options: 'typeadhesions' },
				{ id: 'last_practice', value: this.$transI18n.t('Pratique'), type: 'select', default: '---', needed: true, options: 'typepractices' },
				{ id: 'last_responsability', value: this.$transI18n.t('Responsabilité'), type: 'select', default: '---', needed: true, options: 'typeresponsabilities' },
			],
			structure_fields: [
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '', large: true },
				{ id: 'level', value: this.$transI18n.t('Échelon'), type: 'select', default: '---', needed: true, options: 'levels', nolisting: true },
				{ id: 'parent', value: this.$transI18n.t('Parent'), type: 'select', default: '---', needed: false, options: 'structures' },
			],
			adherent: null,
		}
	},
	computed: {
		empty() {
			return this.adherent === null
		},
		adherentid() {
			if (this.adherent !== null) {
				return this.adherent.id
			} else {
				return -1
			}
		},
		currentstructureid() {
			if (this.adherent !== null) {
				return this.adherent.last_structure
			} else {
				return 0
			}
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
		} finally {
			this.loading = false
		}
	},
	methods: {
		showAdherentCurrent(adherent) {
			this.adherent = adherent
			this.unique.structure++
			if ((this.adherent === null) || (this.adherent.last_structure === 0)) {
				this.$nextTick(() => {
					window.$('#identity div.cell[name="last_practice"]').remove()
					window.$('#identity div.cell[name="last_responsability"]').remove()
				})
			} else {
				this.$store.commit('defaultStructure', this.adherent.last_structure)
			}
		},
		showStructureCurrent(value) {
			this.$nextTick(() => {
				const structure = window.$('#structure div.showtable')
				const identitypractice = window.$('#identity div.cell[name="last_practice"]')
				const identiresponsability = window.$('#identity div.cell[name="last_responsability"]')
				structure.append(identitypractice)
				structure.append(identiresponsability)
			})
		},
	},
}

</script>
