<template>
	<div id="structure">
		<h1 class="title">
			{{ $transI18n.t('Les structures') }}
		</h1>
		<div class="cerana-content">
			<div id="structure-selection" class="selection">
				<label for="currentstructureid">
					{{ $transI18n.t('Structure') }}
				</label>
				<select id="currentstructureid"
					ref="currentstructureid"
					v-model="currentstructureid"
					name="currentstructureid"
					@change="changeStructure">
					<option v-for="structureitem in structures"
						:key="structureitem.value"
						:value="structureitem.value">
						{{ structureitem.name }}
					</option>
				</select>
				<input type="button"
					class="iconadd"
					:value="$transI18n.t('Nouveau')"
					:disabled="false"
					@click="editStruct(-1)">
			</div>
			<div v-if="canShow()"
				class="cerana-frame show">
				<div class="table">
					<fieldset>
						<legend>
							{{ $transI18n.t('Identité') }}
						</legend>
						<CompShowGeneric
							:key="unique"
							:itemid="currentstructureid"
							models="structures"
							:fields="fields" />
						<div v-if="!empty"
							class="cerana-button">
							<input type="button"
								class="primary"
								:value="$transI18n.t('Éditer')"
								@click="editStruct(currentstructureid)">
							<input type="button"
								class="primary"
								:value="$transI18n.t('Supprimer')"
								@click="deleteStruct()">
						</div>
					</fieldset>
					<fieldset>
						<legend>
							{{ $transI18n.t('Cotisations') }}
						</legend>
						<CompMembers
							:key="unique"
							:structureid="currentstructureid" />
					</fieldset>
				</div>
			</div>
			<CompConfirm v-if="canDelete()"
				:message="$transI18n.t('Voulez-vous supprimer cette structure ?')"
				@confirm="confirmDelete" />

			<CompEditGeneric v-if="canEdit()"
				:itemid="currentstructureid"
				models="structures"
				:fields="fields"
				@update="updated" />
			<div v-if="empty"
				id="emptycontent">
				<div class="nav-content nav-structure" />
				<h2>{{ $transI18n.t('Aucune structure !') }}</h2>
			</div>
		</div>
	</div>
</template>

<script>
import CompEditGeneric from './CompEditGeneric'
import CompShowGeneric from './CompShowGeneric'
import CompConfirm from './CompConfirm'
import CompMembers from './CompMembers'

import axios from 'axios'
import { showError, showSuccess } from '@nextcloud/dialogs'

export default {
	name: 'MenuStructure',
	components: {
		CompEditGeneric,
		CompShowGeneric,
		CompConfirm,
		CompMembers,
	},
	data() {
		return {
			edit: false,
			delete: false,
			currentstructureid: 0,
			unique: 0,
			loading: false,
			fields: [
				{ id: 'name', value: this.$transI18n.t('Nom'), type: 'text', needed: true, default: '', large: true },
				{ id: 'level', value: this.$transI18n.t('Échelon'), type: 'select', default: 1, needed: true, options: 'levels', nolisting: true },
				{ id: 'parent', value: this.$transI18n.t('Parent'), type: 'select', default: 1, needed: false, options: 'structures' },
				{ id: 'address', value: this.$transI18n.t('Adresse'), type: 'textarea', default: '', large: true, nolisting: true },
				{ id: 'postalcode', value: this.$transI18n.t('Code postal'), type: 'text', default: '', nolisting: true },
				{ id: 'city', value: this.$transI18n.t('Ville'), type: 'text', default: '', nolisting: true },
				{ id: 'email', value: this.$transI18n.t('Courriel'), type: 'email', default: '' },
				{ id: 'website', value: this.$transI18n.t('Site internet'), type: 'url', default: '', nolisting: true },
				{ id: 'phone1', value: this.$transI18n.t('Tel 1'), type: 'text', default: '' },
				{ id: 'phone2', value: this.$transI18n.t('Tel 2'), type: 'text', default: '', nolisting: true },
				{ id: 'comment', value: this.$transI18n.t('Commentaires'), type: 'textarea', default: '', large: true, nolisting: true },
			],
		}
	},
	computed: {
		empty() {
			return this.currentstructureid === 0
		},
		structures() {
			const structures = this.$store.getters.getStructures()
			if (structures !== null) {
				return structures.filter(structure => structure.value !== 0)
			} else {
				return []
			}
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
			this.currentstructureid = this.$store.state.defaultStructure
		} finally {
			this.loading = false
		}
	},
	methods: {
		changeStructure() {
			this.unique++
			this.$store.commit('defaultStructure', this.currentstructureid)
		},
		/**
		 * Edit selected item
		 * @param {Object} item Item object
		 */
		editStruct(item) {
			this.currentstructureid = item
			this.edit = true
		},
		canShow() {
			return this.currentstructureid !== 0
		},
		/**
		 * Check to show delete dialog
		 * @returns {boolean}
		 */
		canEdit() {
			return this.edit
		},
		deleteStruct() {
			this.delete = true
		},
		canDelete() {
			return this.delete
		},
		async confirmDelete(value) {
			if (value === true) {
				await this.deleteStructure()
			}
			this.updated(true)
		},
		/**
		 * Delete a item in server
		 */
		async deleteStructure() {
			this.loading = true
			try {
				try {
					await axios.delete(`/apps/cerana_adhesion/structures/${this.currentstructureid}`)
					showSuccess(this.$transI18n.t('Suppression réussie'))
					this.$store.commit('defaultStructure', 0)
					this.currentstructureid = 0
				} catch (e) {
					console.error(e)
					showError(this.$transI18n.t('Impossible de supprimer cet élément !'))
				}
			} finally {
				this.loading = false
			}
		},
		async updated(value) {
			this.loading = true
			try {
				this.edit = false
				this.delete = false
				if (value !== false) {
					this.$store.commit('setStructures', null)
					await this.$store.dispatch('refreshStructures')
				}
			} finally {
				this.loading = false
			}
		},
	},
}

</script>
