<template>
	<div id="content" class="app-asso">
		<AppNavigation>
			<ul>
				<AppNavigationItem v-for="menu in menus"
					:key="menu.id"
					:title="menu.title"
					:icon="menu.icon"
					:class="{active: currentMenuId === menu.id}"
					@click="openMenu(menu.id)" />
			</ul>
			<SettingsSection
				:title="$transI18n.t('Configuration')">
				<ul>
					<AppNavigationItem v-for="menu in settings"
						:key="menu.id"
						:title="menu.title"
						:icon="menu.icon"
						:class="{active: currentMenuId === menu.id}"
						@click="openMenu(menu.id)" />
				</ul>
			</SettingsSection>
		</AppNavigation>
		<AppContent>
			<component :is="currentComponent" />
		</AppContent>
	</div>
</template>

<script>
import AppNavigation from '@nextcloud/vue/dist/Components/AppNavigation'
import AppNavigationItem from '@nextcloud/vue/dist/Components/AppNavigationItem'
import SettingsSection from '@nextcloud/vue/dist/Components/SettingsSection'
import AppContent from '@nextcloud/vue/dist/Components/AppContent'

import MenuDashboard from './MenuDashboard'
import MenuCurrent from './MenuCurrent'
import MenuStructure from './MenuStructure'
import MenuList from './MenuList'
import MenuReport from './MenuReport'
import MenuGeneral from './MenuGeneral'
import MenuSubscription from './MenuSubscription'

export default {
	name: 'NavAsso',
	components: {
		AppContent,
		AppNavigation,
		AppNavigationItem,
		SettingsSection,
		MenuDashboard,
		MenuCurrent,
		MenuStructure,
		MenuList,
		MenuReport,
		MenuGeneral,
		MenuSubscription,
	},
	data() {
		return {
			loading: false,
			menus: [
				{
					id: 'Dashboard',
					title: this.$transI18n.t('Tableau de bord'),
					icon: 'nav-dashboard',
				},
				{
					id: 'Current',
					title: this.$transI18n.t('Ma fiche'),
					icon: 'nav-current',
				},
				{
					id: 'Structure',
					title: this.$transI18n.t('Les structures'),
					icon: 'nav-structure',
				},
				{
					id: 'List',
					title: this.$transI18n.t('Les adhérents'),
					icon: 'nav-list',
				},
				{
					id: 'Report',
					title: this.$transI18n.t('Statistiques'),
					icon: 'nav-report',
				},
			],
			settings: [
				{
					id: 'General',
					title: this.$transI18n.t('Général'),
					icon: 'nav-organisation',
				},
				{
					id: 'Subscription',
					title: this.$transI18n.t('Cotisations'),
					icon: 'nav-subscription',
				},
			],
			currentMenuId: null,
		}
	},
	computed: {
		currentComponent() {
			let menuid = this.currentMenuId
			if (menuid === null) {
				menuid = this.menus[0].id
			}
			return 'Menu' + menuid
		},
	},
	async mounted() {
		this.loading = true
		try {
			await this.$store.dispatch('refresh')
		} finally {
			this.loading = false
		}
	},
	methods: {
		openMenu(menuid) {
			this.currentMenuId = menuid
		},
	},
}
</script>
